body{
    background-color: white;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.post-image{
    margin-left: 10px;
    height: 140px;
}

.rou{
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: #0b626a;
}

h1{
    color: rgb(0, 0, 0);
}

.carta {
    height: 140px;
    margin: 5px;
  }

.carta .card-img-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: left;
  }
  
.carta .card-title {
    font-size: 1rem;
    font-weight: bold;
  }
  
.carta .card-text {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
.Card-image{
    height: 140px;
}