
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.post-image{
    margin-left: 10px;
}

.post-image{
    width: 200px;
}

.rou{
    background-color: aquamarine;
}