
.body {
    background-color: aqua;
    background-image: url("https://images.unsplash.com/photo-1534289692684-c02577d5560d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA=="); 
}


/* .imagen{
    position: relative;
} */

.formulario{
    position: relative;
    background-color: #ffffff;
    width: 50%;
    margin-top: 15%;
}